/* set css counter */
.service h3 {
  color: rgb(50, 50, 50);
  counter-reset: topic;
}

.service button {
  width: fit-content;
}

.service h3::before {
  counter-increment: topic;
  content: counter(topic) ". ";
  color: rgb(13, 110, 253);
}

.service img {
  border-radius: 0.75rem;
}
