header nav * {
  color: white !important;
  text-decoration: underline !important;
}

header nav *:hover {
  color: rgb(255, 204, 93) !important;
}

header svg {
  font-size: x-large;
}

header button {
  width: fit-content;
  height: fit-content;
}

.brand-heading {
  font-family: "Pacifico", cursive;
}

header nav .active {
  color: rgb(255, 204, 93) !important;
}
