header nav a {
  color: white;
}

header nav a:hover {
  color: rgb(255, 204, 93);
}

header svg {
  font-size: x-large;
}

header button {
  width: fit-content;
  height: fit-content;
}

.brand-heading {
  font-family: "Pacifico", cursive;
}
