.topics {
  display: grid;
  counter-reset: topic;
}

@media screen and (min-width: 768px) {
  .topics {
    grid-template-columns: repeat(3, 1fr);
  }
}

.topics h3 {
    color: rgb(50, 50, 50);
}

.topics h3::before {
  counter-increment: topic;
  content: counter(topic) ". ";
  color: rgb(13, 110, 253);
}
