.banner {
  color: white;
  background-image: url("https://pixabay.com/get/g974339a94ac0fda6092909cbeee63ec6c1d582afe12e4f02aedc1d05ddd9427ba327f8d215248112286dd00823a0c8e3.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.banner div {
  mix-blend-mode: hard-light;
  background-color: rgba(0, 0, 0, 0.25);
}

.banner div button {
}

@media screen and (min-width: 768px) {
  .banner div :is(:not(button)) {
    width: 60%;
  }
}
