.banner {
  color: white;
  background-image: url(../../images/michael-faraday.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.banner div {
  mix-blend-mode: hard-light;
  background-color: rgba(0, 0, 0, 0.25);
}

.banner div button {
}

@media screen and (min-width: 768px) {
  .banner div :is(:not(button)) {
    width: 60%;
  }
}
